<div  style=" width: 100%;
top: 650px;
position: absolute;">
    

    <div>
        {{name}}-{{index}}
        <button (click)="setAutopan()" [style.background-color]="getActiveButton(autopanSpenta)">autopan</button>
        rate<input type="number" [(ngModel)]="arate" min="0" max="60" step="0.01" (change)="setAdrywet()" />
        drywet<input type="number" [(ngModel)]="adrywet" min="0" max="100" step="0.01" (change)="setAdrywet()" />
        <button (click)="setWaveshaper()"
            [style.background-color]="getActiveButton(waveshaperSpenta)">waveshaper</button>
    </div>

    <div *ngIf="type !== 'NEWSYNTH'" >
        <app-synth-control (parametriSynth)="onSetSoundParams($event,type)" [typeIn]="type" [name]="name">
        </app-synth-control>
    </div>

    <div *ngIf="type === 'NEWSYNTH'">
        <table style="background-color: hotpink;">
            <tr>
                <td class="a">
                    <app-osc #osc [nome]="'Main oscillator 1'"></app-osc>
                </td>
                <td class="a">
                    <app-gain [envelope]="true" [nome]="'Main gain'" #gain></app-gain>
                </td>
                <td colspan="2" class="a">
                    <table>
                        <tr>
                            <td>
                                <app-osc [nome]="'LFO to frequency filter'" #osc2> </app-osc>
                            </td>
                            <td>
                                <app-gain [envelope]="false" [nome]="'LFO filter amplitude'" #gainOsc2></app-gain>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="a">
                    <app-stereo-panner #pan></app-stereo-panner>
                </td>
                <td rowspan="2" class="a">
                    <table>
                        <thead>
                            <th colspan="3">modulations</th>
                        </thead>
                        <tr *ngFor="let mod of modulations;let i = index">
                            <td>
                                <button (click)="enableMod(i)"
                                    [style.background-color]="mod.modulation ? 'red':'grey'">V</button>
                            </td>
                            <td>
                                <input type="number" [(ngModel)]="mod.min" />
                            </td>
                            <td>
                                <input type="number" [(ngModel)]="mod.max" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="a">
                    <app-osc #oscillator2 [nome]="'Main oscillator 2'"></app-osc>
                </td>
                <td class="a">
                    <app-filter [envelope]="true" [nome]="'FILTER'" #filter></app-filter>
                </td>
                <td colspan="3" class="a">
                    <table>
                        <tr>
                            <td>
                                <app-osc [nome]="'LFO to frequency oscillators'" #lfo></app-osc>
                            </td>
                            <td>
                                <app-gain [envelope]="false" [nome]="'LFO ocs amplitude'" #gainLfo></app-gain>
                            </td>
                            <td>
                                enable osc1 <input type="checkbox" [(ngModel)]="lfoConOsc1"
                                    (change)="changeConnection()" /> <br>
                                enable osc2 <input type="checkbox" [(ngModel)]="lfoConOsc2"
                                    (change)="changeConnection2()" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

</div>


<div style="
width: 100%;
top: 297px;
position: relative;
height: 450px;">


    <div style="   
    width: 100%;">

        <app-piano-roll-canvas-based #pianoRoll [clipIndex]="clipIndex" (notaDaSuonare)="play($event,type)"
            [instrumentType]="type" [la]="selectedHrtz" [pianoRollDimensionIn]="pianoRollDimension">
        </app-piano-roll-canvas-based>
    </div>
</div>