
   {{nome}}
    <table>
        <tr>
            <th>OscillatorType</th>
            <th>frequency</th>    
        </tr>
        <tr>
            <td> 
                <div class = "row4" >
                    <div *ngFor="let wave of waveforms" >
                        <button style="font-family: monospace;"   (click)="selectedWaveView = wave ;changeWave()" [class]="selectedWaveView === wave ? 'on' : 'off'">
                          <div [class]="wave">
                          
                          </div> 
                        </button>
                    </div>
                </div>
            </td>
            <td>
                <input type="number" [(ngModel)]="frequency" (change)="changeFrequency()" min="0" max="100" step="0.01"/>
            </td>
        </tr>
    </table>