.row4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: gray;
}
.on {
    background-color: grey;
    border-radius: 10%;
    border: 3px solid black;
}
.off {
    background-color: white;
    border-radius: 10%;
    border: 3px solid rgb(27, 27, 27);
}
.square {
    background-image: url("../../assets/png/square.jpeg");
    width: 30px;
    height: 20px;
    background-size: 30px 20px;
    background-repeat: no-repeat;
    margin:0;
    line-height: 30px;
}
.sine {
    background-image: url("../../assets/png/sine.jpeg");
    width: 30px;
    height: 20px;
    background-size: 30px 20px;
    background-repeat: no-repeat;
    margin:0;
    line-height: 30px;
}
.sawtooth {
    background-image: url("../../assets/png/saw.jpeg");
    width: 30px;
    height: 20px;
    background-size: 30px 20px;
    background-repeat: no-repeat;
    margin:0;
}
.triangle {
    background-image: url("../../assets/png//tri.jpeg");
    width: 30px;
    height: 20px;
    background-size: 30px 20px;
    background-repeat: no-repeat;
    margin:0;
    line-height: 30px;
}
