One shot LFO
<table>
    <tr>
        <td>
            center frequency<input type="number" [(ngModel)]="center" (change)="changed()" />
        </td>
        <td>
            <select [(ngModel)]="shape">
                <option *ngFor="let wave of waveforms" [value]="wave"> {{wave}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            rate<input matInput type="number" [(ngModel)]="rate" (change)="changed()" />
        </td>
        <td>
            bpm <input matInput  type="number" [(ngModel)]="tempo" (change)="changed()" />
        </td>
    </tr>
    
</table>