<table>
    <tr>
        <td>
            <input type="number" (change)="changedZ()" [(ngModel)]="adsr.attack" min="0" step="0.1" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="number" (change)="changedZ()" [(ngModel)]="adsr.decay" min="0" step="0.1" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="number" (change)="changedZ()" [(ngModel)]="adsr.sustain" min="0" step="0.1" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="number" (change)="changedZ()" [(ngModel)]="adsr.sustainVal" min="0" step="0.1" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="number" (change)="changedZ()" [(ngModel)]="adsr.release" min="0" step="0.1" />
        </td>
    </tr>
</table>