<span class="inCon">
    <app-knob [height]="70"  (valore)="changedZ($event,'A')" [isCollapsed]="true" [width]="70" [valoreIn]="adsr.attack*100"></app-knob>
</span>
<span class="inCon">
    <app-knob [height]="70" (valore)="changedZ($event,'D')" [isCollapsed]="true" [width]="70" [valoreIn]="adsr.decay*100"></app-knob>
</span>
<span class="inCon">
    <app-knob [height]="70" (valore)="changedZ($event,'S')" [isCollapsed]="true" [width]="70" [valoreIn]="adsr.sustain*100"></app-knob>
</span>
<span class="inCon">
    <app-knob [height]="70" (valore)="changedZ($event,'SV')" [isCollapsed]="true" [width]="70" [valoreIn]="adsr.sustainVal"></app-knob>
</span>
<span class="inCon">
    <app-knob [height]="70" (valore)="changedZ($event,'R')"  [isCollapsed]="true" [width]="70" [valoreIn]="adsr.release*100"></app-knob>
</span>

