
	

		<div class="raw1" style="background-color: chartreuse;">
			<!-- <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle();">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button> -->
			
			
			<span>ED - Easy Drop</span><app-start-stop></app-start-stop>
			<span class="example-spacer"></span>Bpm<app-timer-control></app-timer-control>
			
				Volume 
					<input type="number" [(ngModel)]="masterGain" (change)="onChangeMaster()" min="0.01" max="1" step="0.01"/>
		
				Add instrument<button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Add instrument">
					<mat-icon>add_circle_outline</mat-icon>
				</button>
	
		Keyboard control <button  mat-icon-button (click)="activeKeyboardControl()"
					matTooltip="Enable keyboard control click or press CTRL"
					[style.background-color]="getActiveColor(isActiveKeyboardControl)">
					<mat-icon>keyboard</mat-icon>
				</button>
			
			
			<mat-menu #menu="matMenu">
				<button mat-menu-item color="basic" (click)="addSampler()">Add sampler</button>
				<button mat-menu-item color="basic" (click)="addSynth()">Add Synth</button>
				<button mat-menu-item color="basic" (click)="addMonoosc()">Add Monoosc</button>
				<button mat-menu-item color="basic" (click)="addDrummachine()">Add Drum</button>
			</mat-menu>
		</div>

	<div class="example-sidenav-content">
		<div class="raw1" >
			<div *ngFor="let instrument of instruments;let i =index;" class="instrument" >
				<div class="instrumentToolbar" [style.border]="getSelectedTrakBorderStyle(instrument.isCollapsed)" >
					<div [style.background-color]="getInstrumentColor(instrument.type)" class="instHeader">
						<div class="row4">
							<button mat-icon-button (click)="collassaInstrument(i)">
								<mat-icon>settings</mat-icon>
							</button>
							<button mat-icon-button (click)="remove(i)">
								<mat-icon>delete</mat-icon>
							</button>
							<button mat-icon-button
								(click)="instrument.isMuted ? instrument.isMuted = false: instrument.isMuted=true"
								[style.background-color]="getActiveColor(instrument.isMuted)">
								<mat-icon>volume_off</mat-icon>
							</button>
							<button mat-icon-button>
								<span style="font-size: 145%;">
									<strong>S</strong></span>
							</button>
						</div>
					</div>
					<div class="trakTitle">{{ (instrument.name.length>5) ? (instrument.name
						|slice:0:5)+'..':(instrument.name) | uppercase}} TRACK N° {{i+1}} </div>
				</div>
				<div class="clipsContiner">
					<div *ngFor="let clip of instrument.clips" class="clip" [style.background-color]="clip.color">
						<button mat-icon-button (click)="setClip(i,clip.index)">
							<mat-icon>play_arrow</mat-icon>
						</button>
					</div>
				</div>
			</div>
			<div class="instrument" [style.display]="getDisplay(!showMixer)">
				<div class="instrumentToolbar">
					<div class="instHeader" style="background-color: chocolate;">
						<div class="row4">
							<button mat-icon-button disabled>
								<mat-icon>settings</mat-icon>
							</button>
							<button mat-icon-button disabled>
								<mat-icon>play_arrow</mat-icon>
							</button>
							<button disabled mat-icon-button>
								<mat-icon>volume_off</mat-icon>
							</button>
							<button mat-icon-button disabled>
								<span style="font-size: 145%;">
									<strong>S</strong></span>
							</button>
						</div>
					</div>
				</div>
				<div class="trakTitle">MASTER </div>

				<!-- <app-analizer [connectHere]="connectMaster"></app-analizer> -->
				<div class="clipsContiner">
					<div *ngFor="let clip of clipsMaster;let i=index" class="clip"
						[style.background-color]="clip.color">
						<button mat-icon-button (click)="setClipMassive(i)">
							<mat-icon>play_arrow</mat-icon>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="instrumentsContainer">
			<div class="instrumentPanel" *ngFor="let instrument of instruments;let i =index;">
				<div class="instrumentContainer" [style.display]="getDisplay(instrument.isCollapsed)">
					<app-instrument #instrumentsViews [clipIndex]="instrument.clipPlaying" [name]="instrument.name"
						[type]="instrument.type" [index]="i" [pianoRollDimension]="instrument.pianoRollDimension"
						[muted]="instrument.isMuted">
					</app-instrument>
				</div>
			</div>
		</div>
	</div>

