

.pallino {
  border-radius: 7px;
  height: 15px;
  width: 15px;
  display: inline-block;
  border: 1px solid black;
}
table,tr,td{
  border: 1px solid black;
}
mat-tab-group{
  height: 100%;
  width: 100%;
}