

.pallino {
  border-radius: 7px;
  height: 15px;
  width: 15px;
  display: inline-block;
  border: 1px solid black;
}
.a{
  border: 1px solid white;
}
mat-tab-group{
  height: 100%;
  width: 100%;
  
}
.container{
  top:23%;
  position: absolute;
}