#container {
  position: relative;
}
.inputField {
  position: absolute;
  background: transparent;
  border: none;
}
text.jqx-knob-label {
  font-size: 20px;
}
.inputField .jqx-input-content {
  background: transparent;
  font-size: 20px;
  color: grey;
}
.label {
  position: absolute;
  /* font-size: 69%; */
  top: 36%;
  right: 26%;
}

