{{nome}}
    <table>
        <tr>
            <th>Filter type</th>
            <th>Frequency</th>
            <th>Gain</th>
            <th>Detune</th>
            <th>Q</th>
        </tr>
        <tr>
            <td>
                <select [(ngModel)]="selectedWaveView" (change)="changeWave()">
                    <option *ngFor="let wave of waveforms" [value]="wave"> {{wave}}</option>
                </select>
            </td>
            <td>
                <input type="number" [(ngModel)]="frequency" (change)="changeFilterFrequency()" min="0" max="20000" step="10"/>
            </td>
            <td>
                <input type="number" [(ngModel)]="gain" (change)="changeFilterGain()" min="0" max="1000" step="1"/>
            </td>
            <td>
                <input type="number" [(ngModel)]="detune" (change)="changeFilterDetune()" min="0" max="10" step="0.01"/>
            </td>
            <td>
                <input type="number" [(ngModel)]="q" (change)="changeFilterQ()" min="-10" max="10" step="0.01"/>
            </td>
        </tr>
    </table>
    <app-adsr *ngIf="envelope" #adsr (adsrEmitter)="changeAdsr($event)" [adsr]="adsrVolume"></app-adsr>


