<div class="esterna" style="position: absolute;
width: 100%;
height: 342px;">
    <div class="pianoRollToolbar" [style.background-color]="getInstrumentColor()">
        <span>
            Loop start :<input type="number" [(ngModel)]="startLoop" min="0" (change)="setStartLopper()" />
            length :<input type="number" [(ngModel)]="endLoop" (change)="setStartLopper()" />
        </span>
        <span style="float:right">
            <button mat-stroked-button (click)="clear()">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-stroked-button (click)="random()">random</button>
        </span>
    </div>
    <div class="allCanvas" >
        <div class="cnvsContainer"  #container>

            <canvas #canvasGui  width="{{getExternalDimension()}}" height="960" (click)="handleChange($event)" class="bg-layer"></canvas>
            <canvas #canvasLine width="{{getExternalDimension()}}" height="960" class="line-layer"></canvas>
            <canvas #canvas     width="{{getExternalDimension()}}" height="960" (click)="handleChange($event)" class="game-layer"></canvas>

        </div>
        <canvas #canvasVelo width="{{getExternalDimension()}}" height="60" (click)="handleChangeVelo($event)"
            class="velocity-layer"></canvas>
        <canvas #canvasLooper width="{{getExternalDimension()}}" height="180" class="looper-layer"></canvas>

    </div>


</div>